/* Background, And Defults */
html,
body {
  background-color:#292828 !important;
  color: #e0e0e0;
} a, p, span {
  color: #e0e0e0; 
} a:link {
  color: #ba66ff;
  text-decoration: none;
} a:hover {
  cursor: pointer;
}

/* Navbar */
.head-spacer {
  margin-top: 15px;
} .google-search {
  float:right;
  width: 40rem;  
} .gsc-input {
  border: none;
  height: 12px;
  background-color: transparent;
  margin-left: -5px;
  color: black;
} .gsc-search-button {
  height: 40px;
  margin-top: -1px;
  background-color: trasnparent;
  border: none;
} .navbar-collapse .google-search {
  width: 1, auto; 
} 
  

/* Gallery */
.margin-gallary {
  margin-top: 2rem;
  color: white;
} .box-image {
  padding; 20px;
  background-color: transparent;
  border: 1px solid white;
  width: 15rem;
  height: 10rem;
  float: left;
  margin-right: 30px;
  margin-top; -10px;
  overflow: hidden;
  white-space: nowrap;
} .margin-gallary img {
  width: 100%;
} #blurr-this {
  opacity: .50;
  filter: blur(8px);
  -webkit-filter: blur(8px);
} .description-box {
  border: 1px solid white;
  width: 15rem;
  font-size: 12px;
  padding: 7px;
  background-color: rgba(0,0,0,0.9);
} #loading-img {
  margin-left: 4rem;
  margin-top: 4rem;
  color: white;
} #op-1 {
  opacity: .50;
}

.overlay:target {
  visibility: visible;
  outline: none;
  cursor: default;
} .overlay {
  /* Display over the entire page */
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);

  /* Horizontal and vertical centering of the image */
  display: flex;
  align-items: center;
  text-align: center;

  /* We hide all this by default */
  visibility: hidden;
} .smaller {
  padding: 50px;
  height: 60rem;
  width: 20rem;
} .overlay img {
  width: 100%, auto;
  height: 70rem;
}
